# INITIAL DATA EXPLORATION: Routine (intermediate concatenated data)

In [1]:
import pandas as pd
import numpy as np
import sys
import os

src_dir = os.path.join(os.getcwd(), '..', '..', 'src')
sys.path.append(src_dir)

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

In [2]:
from d01_data import intermediate_cleaning

### This notebook includes summary stats for the complete contatenated (2015 - 2019) routine datasets

In [3]:
intermediate_cleaning.concatenate_and_save_intermediate_files('fy_*_routine', 'routine_inter')

/Users/Kate/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: DtypeWarning: Columns (0,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/Kate/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/Kate/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: DtypeWarning: Columns (4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
routine_inter = pd.read_csv('../../data/02_intermediate/routine_inter.csv')

/Users/Kate/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
routine_inter.head(3)

,Sample,Prod,DateSampled,Grade,DateTested,HSID,Supplier,Gallons,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
1,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,?
2,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,?

#### Initial Issues /Questions re variables:  
1. Sample: is int (should be string because it's a unique identifier)
1. DateSampled: Object instead of datetime
1. DateTested: Float
1. Compliance: is an object, but should be boolean 
1. Vast majority of date tested catagory is empty (this is a holdover from the old system. Don't use this one) 
1. Compliance: there are 5 unique values that appear in the compliance column: Y, N, ' ' (changed to '?' in the below 
    dataset), nan and select
        a) what is the difference between the ? and nan rows? 
        b) what does select mean? 
1. What tests should we focus on for the question that you're interested in?

In [6]:
routine_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129219 entries, 0 to 1129218
Data columns (total 17 columns):
Sample          1129219 non-null object
Prod            1129217 non-null object
DateSampled     1129219 non-null object
Grade           1129217 non-null object
DateTested      27379 non-null object
HSID            391122 non-null float64
Supplier        949928 non-null object
Gallons         1122723 non-null object
FacilityName    1129180 non-null object
SiteAddress     1121979 non-null object
Test            1124054 non-null object
Units           1123818 non-null object
Method          1123818 non-null object
Result          1068726 non-null object
MinResult       994273 non-null object
MaxResult       1008953 non-null object
Compliance      1126891 non-null object
dtypes: float64(1), object(16)
memory usage: 146.5+ MB

In [7]:
print('Total Number of Products: ', len(routine_inter['Prod'].value_counts()))
routine_inter['Prod'].value_counts()

Total Number of Products:  11

Gasoline                798658
Diesel                  299775
Kerosene                 23672
Biodiesel Blend           2294
Ethanol Flex Fuel         1589
E-85 Fuel Ethanol         1489
Aviation Gasoline         1270
Gasoline Blend Stock       273
Fuel Oils                   80
Denat. Fuel EtOH            72
Jet Fuel                    45
Name: Prod, dtype: int64

In [8]:
print('Total Number of Fuel Grades: ', len(routine_inter['Grade'].value_counts()))
routine_inter['Grade'].value_counts()

Total Number of Fuel Grades:  24

Regular Unleaded                418174
Premium Unleaded                207284
Mid Grade Unleaded              169495
No. 2D S15                      159288
No. 2D S15, Biodiesel <6%       137087
No. 1 K                          23672
Regular Blend Stock               2340
B6-20 S15                         1711
Premium Blend Stock               1638
No. 2D S15, Biodiesel 6-20%       1620
E51-83                            1551
E-85                              1489
100LL                             1270
No. 2-D S500                       725
No. 2D S500, Biodiesel <6%         587
B20 S15                            583
No. 2D S15, Biodiesel 20%          396
No. 2D S500, Biodiesel 6-20%        72
E100                                72
No. 1                               60
E15                                 38
JA                                  24
Jet A                               21
No. 1 FO                            20
Name: Grade, dtype: int64

In [9]:
print('Total Number of Tests: ', len(routine_inter['Test'].value_counts()))
routine_inter['Test'].value_counts().head()

Total Number of Tests:  91

Relative Density    31326
Distillation 50%    31111
Distillation 30%    31111
Distillation IBP    31111
Distillation 5%     31111
Name: Test, dtype: int64

In [10]:
print('Total Number of Test Methods: ', len(routine_inter['Method'].value_counts()))
routine_inter['Method'].value_counts().head()

Total Number of Test Methods:  40

D86       497568
D4815     258911
D4052      62432
Visual     29972
D7619      22686
Name: Method, dtype: int64

In [11]:
print('Total Number of Different Units: ', len(routine_inter['Units'].value_counts()))
routine_inter['Units'].value_counts()

Total Number of Different Units:  16

Deg. C       474731
Vol. %       351284
             188106
15.5/15.5     31326
Mass %        25381
kPa           21088
counts/mL     11364
ppm           10584
micron         8967
mg/100mL        594
hours           139
mg KOH/g        137
kg/m^3           58
mL               56
mm Hg             2
mg/kg             1
Name: Units, dtype: int64

#### Number of unique samples in the dataset

In [12]:
print('Number of unique samples in the dataset: ', len(routine_inter['Sample'].astype('str').unique()))

Number of unique samples in the dataset:  31487

### According to the info call, the "Compliance" catagory has no null-values. Upon further visual inspection it seems that the majority of the 'Compliance' rows are empty. let's take a closer look and figure out why.

In [13]:
routine_inter['Compliance'].unique()

array(['Y', ' ', 'N', nan, 'Select'], dtype=object)

In [14]:
routine_inter['Compliance'] = routine_inter['Compliance'].replace(' ', '?')

In [15]:
routine_inter['Compliance'].unique()

array(['Y', '?', 'N', nan, 'Select'], dtype=object)

##### Value Count in each catagory in the Compliance column

In [16]:
routine_inter['Compliance'].value_counts()

?         799803
Y         325956
N           1104
Select        28
Name: Compliance, dtype: int64

In [17]:
routine_inter['Compliance'].isna().sum()

2328

##### John noted that many of the tests included in the dataset are for research purposes only (i.e., they do not correspond to specific tests that need to be passed). I would like to understand which of the 91 tests listed in the dataset are being tested for compliance purposes.

In [18]:
routine_compliance_information = routine_inter.loc[(
    routine_inter['Compliance'] == 'Y') | (routine_inter['Compliance'] == 'N')]

print('Number of Unique Samples: ', len(routine_compliance_information['Sample'].astype('str').unique()))

Number of Unique Samples:  31425

In [19]:
# create dataframe with Test info that have Y/N Compliance values 
comp_info_test_counts = routine_compliance_information['Test'].value_counts().to_frame()
comp_info_test_counts.reset_index(inplace=True)
comp_info_test_counts.rename(columns={'index': 'test', 'Test': 'count'}, inplace=True)

# Ceate Dataframe that lists all tests 
all_test_counts = routine_inter['Test'].value_counts().to_frame()
all_test_counts.reset_index(inplace=True)
all_test_counts.rename(columns={'index': 'test', 'Test': 'count'}, inplace=True)

# Perform merge to find the tests without Y or N Compliance info 
merged_test_count = all_test_counts.merge(comp_info_test_counts, 
                     how='outer', 
                     on='test', 
                     indicator=True)

In [20]:
print('Number of tests for information Gathering: ', len(merged_test_count.loc[merged_test_count['_merge']=='left_only']))
merged_test_count.loc[merged_test_count['_merge']=='left_only']

Number of tests for information Gathering:  21

                            test  count_x  count_y     _merge
2               Distillation 30%    31111      NaN  left_only
20                          ETBE    20762      NaN  left_only
21                     n-Butanol    20762      NaN  left_only
22                          TAME    20762      NaN  left_only
26                          MTBE    20762      NaN  left_only
27                     Propanols    20762      NaN  left_only
28                  tert-Butanol    20762      NaN  left_only
29                   sec-Butanol    20762      NaN  left_only
30                          DIPE    20762      NaN  left_only
32                   iso-Butanol    20762      NaN  left_only
41                 tert-Pentanol     9768      NaN  left_only
43                 Cetane Number     9211      NaN  left_only
45                    Cetane No.     9211      NaN  left_only
49     Particle Count - 4 micron     3788      NaN  left_only
50    Particle Count - 14 micron     3788      NaN  left_only
51     Particle Count - 6 micron     3788      NaN  left_only
52   Particle Count - ISO Code 1     3774      NaN  left_only
55   Particle Count - ISO Code 2     3615      NaN  left_only
66  Particle Count - ISO Count 2      159      NaN  left_only
79                 Potential Gum       19      NaN  left_only
80              Lead Precipitate       19      NaN  left_only