### Data Exploration: Diesel (Routine Dataset)

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sys
import os

src_dir = os.path.join(os.getcwd(), '..', '..', 'src')
sys.path.append(src_dir)

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
# import helper functions
from d01_data import intermediate_cleaning

In [8]:
intermediate_cleaning.concatenate_and_save_intermediate_files('fy_*_routine', 'routine_inter')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (0,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
routine_inter = pd.read_csv('../../data/02_intermediate/routine_inter.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
routine_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129219 entries, 0 to 1129218
Data columns (total 17 columns):
Sample          1129219 non-null object
Prod            1129217 non-null object
DateSampled     1129219 non-null object
Grade           1129217 non-null object
DateTested      27379 non-null object
HSID            391122 non-null float64
Supplier        949928 non-null object
Gallons         1122723 non-null object
FacilityName    1129180 non-null object
SiteAddress     1121979 non-null object
Test            1124054 non-null object
Units           1123818 non-null object
Method          1123818 non-null object
Result          1068726 non-null object
MinResult       994273 non-null object
MaxResult       1008953 non-null object
Compliance      1126891 non-null object
dtypes: float64(1), object(16)
memory usage: 146.5+ MB

In [10]:
routine_inter.head()

,Sample,Prod,DateSampled,Grade,DateTested,HSID,Supplier,Gallons,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
1,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,
2,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,
3,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 10%,Deg. C,D86,43.1,,,Y
4,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 20%,Deg. C,D86,51.0,,,