### Data Exploration: Diesel (Routine Dataset)

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sys
import os

src_dir = os.path.join(os.getcwd(), '..', '..', 'src')
sys.path.append(src_dir)

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

In [2]:
# import helper functions
from d01_data import intermediate_cleaning

In [3]:
routine_clean = pd.read_csv('../../data/02_intermediate/routine_clean.csv')

In [4]:
routine_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72958 entries, 0 to 72957
Data columns (total 14 columns):
Sample          72958 non-null object
Prod            72958 non-null object
DateSampled     72958 non-null object
Grade           72958 non-null object
Supplier        61351 non-null object
FacilityName    72958 non-null object
SiteAddress     72448 non-null object
Test            72958 non-null object
Units           72958 non-null object
Method          72958 non-null object
Result          72800 non-null object
MinResult       68678 non-null object
MaxResult       68664 non-null object
Compliance      72958 non-null object
dtypes: object(14)
memory usage: 7.8+ MB

In [5]:
routine_clean.head()

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 50%,Deg. C,D86,73.3,,,Y
1,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Vapor Pressure,kPa,D5191,88.9,,,Y
2,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Vapor-Liquid Ratio,Deg. C,D5188,44.6,,,Y
3,61916135,Gasoline,2015-11-24,Regular Unleaded,NaN,Tiger Market #214,"2001 8th Ave S \r\nnashville, Tn 37204",Distillation 50%,Deg. C,D86,67.4,,,Y
4,61916135,Gasoline,2015-11-24,Regular Unleaded,NaN,Tiger Market #214,"2001 8th Ave S \r\nnashville, Tn 37204",Vapor Pressure,kPa,D5191,92.7,,,Y

In [6]:
diesel_df = routine_clean.loc[routine_clean['Prod']=='Diesel']

In [7]:
len(diesel_df)

9135

In [8]:
gasoline_df = routine_clean.loc[routine_clean['Prod']=='Gasoline']

In [9]:
len(gasoline_df)

62256

### Let's explore our diesel dataset

In [10]:
diesel_df.head()

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
9,61916137,Diesel,2015-11-24,No. 2D S15,Tri-star Energy,Twice Daily #8085,"648 Thompson Ln \r\nnashville, Tn 37204",Distillation 50%,Deg. C,D86,268.6,,,None
19,61916141,Diesel,2015-12-02,No. 2D S15,"Mapco Express, Inc.",Mapco Express #1030,"2616 Franklin Road Nashville, Tn 37204",Distillation 50%,Deg. C,D86,263.4,,,None
45,61916164,Diesel,2016-01-05,No. 2D S15,"Mapco Express, Inc.",Mapco Express #3327,"7725 Hwy 70 South Bellevue, Tn 37221",Distillation 50%,Deg. C,D86,258.8,,,None
49,61916202,Diesel,2016-03-07,No. 2D S15,"Mapco Express, Inc.",Mapco Express #3411,"7101 Highway 70 South \r\nnashville, Tn 37221",Distillation 50%,Deg. C,D86,261.1,,,None
56,61916205,Diesel,2016-03-08,No. 2D S15,"Magellan Terminals Holdings, Lp",Kroger #527,"7087 Highway 70 S \r\nnashville, Tn 37221",Distillation 50%,Deg. C,D86,263.4,,,None

In [11]:
# change to datetime
diesel_df['DateSampled'] = pd.to_datetime(diesel_df['DateSampled'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
diesel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 9 to 72951
Data columns (total 14 columns):
Sample          9135 non-null object
Prod            9135 non-null object
DateSampled     9135 non-null datetime64[ns]
Grade           9135 non-null object
Supplier        7512 non-null object
FacilityName    9135 non-null object
SiteAddress     9096 non-null object
Test            9135 non-null object
Units           9135 non-null object
Method          9135 non-null object
Result          9114 non-null object
MinResult       9087 non-null object
MaxResult       9106 non-null object
Compliance      9135 non-null object
dtypes: datetime64[ns](1), object(13)
memory usage: 1.0+ MB