# INITIAL DATA EXPLORATION: Routine (intermediate concatenated data)

In [53]:
import pandas as pd
import numpy as np

routine_inter = pd.read_csv('../data/02_intermediate/routine_inter.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### This notebook includes summary stats for the complete contatenated (2015 - 2019) routine datasets

In [32]:
routine_inter.head(3)

,Sample,Prod,DateSampled,Grade,DateTested,HSID,Supplier,Gallons,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
1,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,
2,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,

#### Initial Issues /Questions re variables:  
1. Sample: is int (should be string because it's a unique identifier)
1. DateSampled: Object instead of datetime
1. DateTested: Float
1. Compliance: is an object, but should be boolean 
1. Vast majority of date tested catagory is empty 
1. Compliance: there are 5 unique values that appear in the compliance column: Y, N, ' ' (changed to '?' in the below 
    dataset), nan and select
        a) what is the difference between the ? and nan rows? 
        b) what does select mean? 
1. What tests should we focus on for the question that you're interested in?

In [65]:
routine_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129219 entries, 0 to 1129218
Data columns (total 17 columns):
Sample          1129219 non-null object
Prod            1129217 non-null object
DateSampled     1129219 non-null object
Grade           1129217 non-null object
DateTested      27379 non-null object
HSID            391122 non-null float64
Supplier        949928 non-null object
Gallons         1122723 non-null object
FacilityName    1129180 non-null object
SiteAddress     1121979 non-null object
Test            1124054 non-null object
Units           1123818 non-null object
Method          1123818 non-null object
Result          1068726 non-null object
MinResult       994273 non-null object
MaxResult       1008953 non-null object
Compliance      1126891 non-null object
dtypes: float64(1), object(16)
memory usage: 146.5+ MB

In [37]:
print('Number of Products: ', len(routine_inter['Prod'].value_counts()))
routine_inter['Prod'].value_counts()

Number of Products:  11

Gasoline                798658
Diesel                  299775
Kerosene                 23672
Biodiesel Blend           2294
Ethanol Flex Fuel         1589
E-85 Fuel Ethanol         1489
Aviation Gasoline         1270
Gasoline Blend Stock       273
Fuel Oils                   80
Denat. Fuel EtOH            72
Jet Fuel                    45
Name: Prod, dtype: int64

In [38]:
print('Number of Grades: ', len(routine_inter['Grade'].value_counts()))
routine_inter['Grade'].value_counts()

Number of Grades:  24

Regular Unleaded                418174
Premium Unleaded                207284
Mid Grade Unleaded              169495
No. 2D S15                      159288
No. 2D S15, Biodiesel <6%       137087
No. 1 K                          23672
Regular Blend Stock               2340
B6-20 S15                         1711
Premium Blend Stock               1638
No. 2D S15, Biodiesel 6-20%       1620
E51-83                            1551
E-85                              1489
100LL                             1270
No. 2-D S500                       725
No. 2D S500, Biodiesel <6%         587
B20 S15                            583
No. 2D S15, Biodiesel 20%          396
No. 2D S500, Biodiesel 6-20%        72
E100                                72
No. 1                               60
E15                                 38
JA                                  24
Jet A                               21
No. 1 FO                            20
Name: Grade, dtype: int64

In [40]:
print('Total Number of Tests: ', len(routine_inter['Test'].value_counts()))
routine_inter['Test'].value_counts().head()

Total Number of Tests:  91

Relative Density    31326
Distillation 5%     31111
Distillation 50%    31111
Distillation IBP    31111
Distillation 40%    31111
Name: Test, dtype: int64

In [44]:
print('Total Number of Test Methods: ', len(routine_inter['Method'].value_counts()))
routine_inter['Method'].value_counts().head()

Total Number of Test Methods:  40

D86       497568
D4815     258911
D4052      62432
Visual     29972
D7619      22686
Name: Method, dtype: int64

In [45]:
print('Total Number of Different Units: ', len(routine_inter['Units'].value_counts()))
routine_inter['Units'].value_counts()

Total Number of Different Units:  16

Deg. C       474731
Vol. %       351284
             188106
15.5/15.5     31326
Mass %        25381
kPa           21088
counts/mL     11364
ppm           10584
micron         8967
mg/100mL        594
hours           139
mg KOH/g        137
kg/m^3           58
mL               56
mm Hg             2
mg/kg             1
Name: Units, dtype: int64

#### Number of unique samples in the dataset

In [47]:
print('Number of unique samples in the dataset: ', len(routine_inter['Sample'].astype('str').unique()))

Number of unique samples in the dataset:  31487

### According to the info call, the "Compliance" catagory has no null-values. Upon further visual inspection it seems that the majority of the 'Compliance' rows are empty. let's take a closer look and figure out why.

In [49]:
routine_inter['Compliance'].unique()

array(['Y', ' ', 'N', nan, 'Select'], dtype=object)

In [55]:
routine_inter['Compliance'] = routine_inter['Compliance'].replace(' ', '?')

In [59]:
routine_inter['Compliance'].unique()

array(['Y', '?', 'N', nan, 'Select'], dtype=object)

##### Value Count in each catagory in the Compliance column

In [62]:
routine_inter['Compliance'].value_counts()

?         799803
Y         325956
N           1104
Select        28
Name: Compliance, dtype: int64

In [64]:
routine_inter['Compliance'].isna().sum()

2328

##### John noted that many of the tests included in the dataset are for research purposes only (i.e., they do not correspond to specific tests that need to be passed). I would like to understand which of the 91 tests listed in the dataset are being tested for compliance purposes.

In [72]:
routine_compliance_information = routine_inter.loc[(
    routine_inter['Compliance'] == 'Y') | (routine_inter['Compliance'] == 'N')]
routine_compliance_information.head()

,Sample,Prod,DateSampled,Grade,DateTested,HSID,Supplier,Gallons,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
3,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 10%,Deg. C,D86,43.1,,,Y
8,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 50%,Deg. C,D86,73.3,,,Y
12,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 90%,Deg. C,D86,164.2,,,Y
14,61916134,Gasoline,11/23/2015 12:00:00 AM,Mid Grade Unleaded,NaN,15752.0,Marathon Petroleum Lp,2498.6,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation E.P.,Deg. C,D86,206.7,,,Y

In [73]:
routine_compliance_information.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327060 entries, 0 to 1129218
Data columns (total 17 columns):
Sample          327060 non-null object
Prod            327060 non-null object
DateSampled     327060 non-null object
Grade           327060 non-null object
DateTested      8374 non-null object
HSID            115611 non-null float64
Supplier        274897 non-null object
Gallons         325196 non-null object
FacilityName    327048 non-null object
SiteAddress     324877 non-null object
Test            325920 non-null object
Units           325761 non-null object
Method          325761 non-null object
Result          327057 non-null object
MinResult       297788 non-null object
MaxResult       311260 non-null object
Compliance      327060 non-null object
dtypes: float64(1), object(16)
memory usage: 44.9+ MB

In [74]:
len(routine_compliance_information['Sample'].astype('str').unique())

31425