### INITIAL DATA EXPLORATION: FY 15 Routine

In [27]:
import pandas as pd
import numpy as np

routine_15 = pd.read_csv('../data/01_raw/fy_15_routine.csv', skiprows=2)

In [32]:
routine_15.head()

,Sample,Prod,DateSampled,Grade,DateTested,HSID,Supplier,Gallons,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61815318,Gasoline,4/20/2015 12:00:00 AM,Premium Unleaded,NaN,107143,Pilot Corporation,3640.0,Pilot Travel Centers #114,"2449 Genesis Rd \r\ncrossville, Tn 38571",Antiknock Index,,R+M/2,92.7,87,,Y
1,61815318,Gasoline,4/20/2015 12:00:00 AM,Premium Unleaded,NaN,107143,Pilot Corporation,3640.0,Pilot Travel Centers #114,"2449 Genesis Rd \r\ncrossville, Tn 38571",API Gravity,,D4052,56.4,,,
2,61815318,Gasoline,4/20/2015 12:00:00 AM,Premium Unleaded,NaN,107143,Pilot Corporation,3640.0,Pilot Travel Centers #114,"2449 Genesis Rd \r\ncrossville, Tn 38571",DIPE,Vol. %,D4815,ND,,,
3,61815318,Gasoline,4/20/2015 12:00:00 AM,Premium Unleaded,NaN,107143,Pilot Corporation,3640.0,Pilot Travel Centers #114,"2449 Genesis Rd \r\ncrossville, Tn 38571",Distillation 10%,Deg. C,D86,48.9,,,Y
4,61815318,Gasoline,4/20/2015 12:00:00 AM,Premium Unleaded,NaN,107143,Pilot Corporation,3640.0,Pilot Travel Centers #114,"2449 Genesis Rd \r\ncrossville, Tn 38571",Distillation 20%,Deg. C,D86,54.8,,,

In [30]:
complaint_15.columns

Index(['Sample', 'Prod', 'DateSampled', 'Grade', 'DateTested', 'HSID',
       'Supplier', 'Gallons', 'FacilityName', 'SiteAddress', 'Test', 'Units',
       'Method', 'Result', 'MinResult', 'MaxResult', 'Compliance'],
      dtype='object')

#### Initial Issues w. variables:  
1. Sample: is int (should be string because it's a unique identifier) 
1. DateSampled: Object instead of datetime
1. DateTested: Float
1. Compliance: is an object, but should be boolean

In [6]:
routine_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219415 entries, 0 to 219414
Data columns (total 17 columns):
Sample          219415 non-null int64
Prod            219415 non-null object
DateSampled     219415 non-null object
Grade           219415 non-null object
DateTested      0 non-null float64
HSID            219415 non-null int64
Supplier        153265 non-null object
Gallons         219415 non-null float64
FacilityName    219415 non-null object
SiteAddress     219415 non-null object
Test            219408 non-null object
Units           219408 non-null object
Method          219408 non-null object
Result          219408 non-null object
MinResult       219408 non-null object
MaxResult       219408 non-null object
Compliance      219408 non-null object
dtypes: float64(2), int64(2), object(13)
memory usage: 28.5+ MB

#### There are 8 sub-catagories for prod (product) variable. Most prevelant type of product is Gasoline and least prevelent is Denat. Fuel EtOH

In [9]:
routine_15['Prod'].value_counts()

Gasoline             161175
Diesel                52970
Kerosene               3542
Biodiesel Blend         756
E-85 Fuel Ethanol       514
Aviation Gasoline       374
Fuel Oils                60
Denat. Fuel EtOH         24
Name: Prod, dtype: int64

In [10]:
routine_15['Grade'].value_counts()

Regular Unleaded       79431
No. 2D S15             52825
Premium Unleaded       43407
Mid Grade Unleaded     38259
No. 1 K                 3542
E-85                     514
B6-20 S15                493
100LL                    374
B20 S15                  263
No. 2-D S500             145
No. 1                     60
Regular Blend Stock       39
Premium Blend Stock       39
E100                      24
Name: Grade, dtype: int64

In [11]:
routine_15['Test'].value_counts()

Relative Density            6246
Distillation IBP            6221
Distillation 20%            6221
Distillation 40%            6221
Distillation 70%            6221
Distillation 60%            6221
Distillation 50%            6221
Distillation 5%             6221
Distillation 30%            6221
Distillation 10%            6221
Distillation 90%            6219
Distillation 80%            6219
Distillation 95%            6219
Distillation E.P.           6218
Distillation Loss           6218
Distillation Residue        6218
API Gravity                 6198
Distillation Recovery       6194
Workmanship                 6040
Vapor Pressure              4247
Ethanol                     4187
tert-Butanol                4187
n-Butanol                   4187
MTBE                        4187
Antiknock Index             4187
TAME                        4187
ETBE                        4187
sec-Butanol                 4187
Research Octane Number      4187
Propanols                   4187
                            ...
Driveability Index          4186
tert-Pentanol               2104
Water & Sediment            2017
Sulfur                      2017
Flash Point                 2017
LTFT                        1853
Cetane No.                  1853
Cetane Number               1853
Cetane Index                1853
Biodiesel Content           1853
Cloud Point                 1853
Lubricity                   1829
Saybolt Color                161
Acidity                       92
Gum, solvent washed           46
pHe                           46
Gum Content, Unwashed         46
Ethanol (5501)                46
Inorganic Cl                  46
Methanol (5501)               46
Water                         46
Oxidation Stability           27
Acid Number                   25
Distillation 10%+50%          17
Water Reaction                17
Knock Value - Lean MON        17
Density - 15° C               17
Knock Value - Lean - ALR      17
Sulfate                        2
Copper                         2
Name: Test, Length: 67, dtype: int64

In [12]:
routine_15['Method'].value_counts()

D86                99511
D4815              52348
D4052              12461
Visual              6040
D5191               4247
D2700               4221
D2699               4187
D5188               4187
R+M/2               4187
D4814-Phase Sep     4187
DI Calc             4186
D5453               2017
D2709               2017
D93                 1856
D7371               1853
D6890               1853
D613                1853
D4539               1853
D2500               1853
D4737               1853
D6079               1829
D56                  161
D156                 161
D381                  92
D5501                 92
D7319                 48
E1064                 46
D1613                 46
D6423                 46
D7795                 46
EN15751               27
D664                  25
D1094                 17
D1688                  2
Name: Method, dtype: int64

In [26]:
routine_15['Units'].value_counts()

Deg. C       94978
Vol. %       70753
             34785
15.5/15.5     6246
Mass %        4325
kPa           4247
ppm           2067
micron        1829
mg/100mL        92
hours           27
mg KOH/g        25
kg/m^3          17
mL              17
Name: Units, dtype: int64

In [19]:
routine_15['Sample'] = routine_15['Sample'].astype('str')

In [25]:
# Number of unique samples in the dataset
len(routine_15['Sample'].unique())

6236